apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-spot-drain
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-spot-drain
subjects:
- kind: ServiceAccount
  name: k8s-spot-drain
  namespace: kube-system
